<div class="card" style="width: 18rem; align-items: baseline;">
    <form [formGroup]="loginform" (ngSubmit)="onsubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" placeholder="email*" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Password*" formControlName="password" id="password">
        </div>
        <button style="margin-left:1px;" type="button" class="btn btn-success" (click)="onsubmit()">Authenticate</button>
          <button style="margin-left:75px;" type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
      </form>
    
  </div>
